//#region sass imports
@import '../../node_modules/bootstrap-scss/mixins';
//#endregion sass imports

// #region custom page colors
$secondary-color: #100A29;
$primary-color: #8CF2D9;
$primary-text-color: #fff;
$secondary-text-color: rgba(255, 255, 255, 0.6);
$third-text-color: rgba(255, 255, 255, 0.1);
// #endregion custom page colors

//#region custom fonts to include
@font-face {
  font-family: 'brown-thin';
  src: url("../../static/fonts/brown/Brown-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'brown-light';
  src: url("../../static/fonts/brown/Brown-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'brown-bold';
  src: url("../../static/fonts/brown/Brown-BoldAlt.ttf") format("truetype");
}

@font-face {
  font-family: 'brown-regular';
  src: url("../../static/fonts/brown/Brown-Regular.ttf") format("truetype");

}

//#endregion custom fonts to include

//#region animation mixins @include name to use them
@mixin animation1 {
  transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@mixin animation2 {
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
}

@mixin animation3 {
  transition: .4s cubic-bezier(0.23, 1, 0.320, 1);
  -webkit-transition: .4s cubic-bezier(0.23, 1, 0.320, 1);
  -moz-transition: .4s cubic-bezier(0.23, 1, 0.320, 1);
  -ms-transition: .4s cubic-bezier(0.23, 1, 0.320, 1);
  -o-transition: .4s cubic-bezier(0.23, 1, 0.320, 1);
}

@mixin animation4 {
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  transition: all .75s cubic-bezier(.19, 1, .22, 1),
    -webkit-all .75s cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: all .75s cubic-bezier(.19, 1, .22, 1);
  -moz-transition: all .75s cubic-bezier(.19, 1, .22, 1);
  -ms-transition: all .75s cubic-bezier(.19, 1, .22, 1);
  -o-transition: all .75s cubic-bezier(.19, 1, .22, 1);
}

@mixin animation5 {
  transition: .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-transition: .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: .2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@mixin lineAnimation {
  &:after {
    content: "";
    position: absolute;
    bottom: .26vw;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: currentColor;
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    @include animation4();
  }

  &:hover:after {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

//#endregion animation mixins

// #region custom breakpoints
$grid-breakpoints: (s: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1000px) !default;

//set container max values
$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 10000px) !default; //was 1140px
// #endregion custom breakpoints

//#region Remy function to convert pixels to rems
@function remy($value) {
  @return ($value / $browser-context) * 1rem;
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//#endregion Remy function to convert pixels to rems

//#region text sizing (golden ratio)
//offset to fit screen better
$small:calc(0.618em);
$h3:calc(1.0em);
$p:calc(1.618em);
$h2:calc(2.618em);
$h1:calc(4.236em);
$title:calc(6.854em);

p {
  font-size: $p;
}

h3 {
  font-size: $h3;
  font-weight: normal;
}

h2 {
  font-size: $h2;
}

h1 {
  font-size: $h1;
}

//#endregion text sizing (golden ratio)

$panel-offset: 15%;
$standard-margin: 25px;
$section-margin: 23vh;
// #region custom properties
$corner:10px;
$border:1px solid rgba(255, 255, 255, .1);

@mixin borderRadius1 {
  -webkit-border-radius: $corner;
  -moz-border-radius: $corner;
  -ms-border-radius: $corner;
  -o-border-radius: $corner;
}

@mixin borderRadius100 {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

@mixin testBounds {
  border: 4px solid red;
}

@mixin verticalText {
  text-orientation: sideways;
  -webkit-text-orientation: sideways;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}

// #endregion custom properties

// #region custom browser styling
::selection {
  color: $primary-color;
  background: transparent;
}

::-moz-selection {
  color: $primary-color;
  background: transparent;
}

// #endregion custom browser styling

html,
body {
  color: $primary-text-color;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  margin-top: 0;
  box-sizing: border-box;
}

/* System Fonts as used by Medium and WordPress */
body {
  font-family: brown-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: $secondary-color;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.site-wrapper {
  font-size: $h3;
  position: absolute;
  padding: 32px;
  background: transparent;
  // border: 2px solid red;
  left: $panel-offset;
  width: 70%;
  // width: calc($panel-offset+$panel-offset - 100%);
  // max-width: 1140px;
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}

.navigation {
  font-weight: 300;

  a {
    color: #888;
    text-decoration: none;
    margin: 0 8px 0;

    &[aria-current] {
      color: $primary-color;
      font-weight: 700;
    }

    &:hover {
      color: $primary-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  // background: ;
  // position: absolute;
  display: none;
  visibility: hidden;
  margin-bottom: 32px;
  align-items: center;
}

.site-title a {
  color: $primary-color;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}

//main message
.hero-header {
  padding: 30vh 0;
  max-width: 980px;
  border: none;
}

.headline {
  font-size: $title;
  font-family: 'brown-bold';
  line-height: 100%;
  width: 25%;
  margin-bottom: 0.5rem;
}

.button {
  padding: 9px 18px;
  display: inline-block;
  background: #fff;
  border: 1px solid #d3d6e7;
  border-radius: 9px;
  text-decoration: none;
  color: #868892;
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;

  &.-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $secondary-color;

    &:hover {
      background-color: #10072b;
      color: #fff;
      text-decoration: none;
    }
  }

  &:hover {
    background-color: #d3d6e7;
    color: #00062b;
  }
}

.primary-content {
  font-size: $h3;
  color: $secondary-text-color;
  margin-bottom: 32px;
  width: 50%;
  line-height: 1.5;
  font-weight: 300;
}

.post {
  padding: 0;
  background: $secondary-color;
  line-height: 1.5;

  >.blog-post-content {
    @include borderRadius1();
    border: $border;
    padding: 2%;
    max-width: 1000px; //was 768px
    margin: 0 auto;
  }

  >.blog-post-content *:last-child,
  >*:last-child {
    margin-bottom: 0;
  }

  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
  }

  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }

}

.post-thumbnail {
  text-align: center;
  min-height: 380px;
  //background-image: url('/assets/circles-light.png');
  background-color: #493b8a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  margin-bottom: 36px;
  color: white;
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;

  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  >* {
    position: relative;
    z-index: 2;
  }

  .post-meta {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
  }
}

.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  height: 5%;
}

.card {
  display: grid;
  background: white;
  @include borderRadius1();
  border: $border;
  overflow: hidden;
  line-height: 1.5;

  &:hover .post-link {
    color: $primary-color;
  }

  >a img {
    display: block;
  }

  >header {
    padding: 24px;
  }

  >h2:first-child {
    margin: 0 0 0.5rem 0;
  }

  .post-title {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .post-meta {
    font-weight: 100;
    margin-bottom: 0;
  }

  .post-link {
    color: #333;
    text-decoration: none;
  }
}

.post-meta {
  font-size: 0.8rem;
  color: #666;
}

.site-footer {
  text-align: center;
  margin: 90px 0 16px;
  color: #666;

  a {
    font-weight: 700;
  }
}

.form-container {
  background-color: #f7f8fe;
  padding: 32px;
  border: 1px solid #d3d6e7;
  border-radius: 9px;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid #d3d6e7;
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
  }

  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}

.two-grids {
  display: grid;
  grid-gap: 32px;

  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}



//#region new styles

section {
  border-top: $border;
  margin-bottom: $section-margin;

  & .section__header {
    width: 100%;
    display: flex;
    flex-basis: content;
    justify-content: space-between;
  }

  & .section__grid {
    color: $secondary-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    height: 5%;

    & .section__grid__card {
      position: relative;
      @include borderRadius1();
      border: $border;
      display: grid;
      border: $border;
      overflow: hidden;


      & .card__lid {
        &::before {
          content: '';
          left: 0px;
          top: 0px;
          position: absolute;
          width: 100%;
          height: 100%;
          background: white;
          z-index: -1;

          &:hover {
            @include animation2();
            width: 0%;
          }
        }


        z-index: 1;
        padding: $standard-margin;
        right: 0px;

        & .title {
          width: 80%;
          margin-bottom: $standard-margin;
        }

        & .catagory {
          @include verticalText();
          position: absolute;
          text-align: left;
          padding: 3.5% 4%;
          color: $primary-text-color;
          background: $secondary-color;
          @include borderRadius1();
          border: 1px solid $primary-text-color;
          width: 15%;
          right: -$standard-margin;
          top: -1px;
          height: 105%;
        }

        & .description {
          width: 70%;
          margin-bottom: $standard-margin+$standard-margin+$standard-margin;

        }

        & .cta {
          & p {
            color: $secondary-color;
          }

          position: absolute;
          width: 30%;
          height: 15%;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          bottom: 0px;
          left: 0px;
          padding: 2%;
          line-height: 100%;
          border-top: 1px solid $secondary-color;
        }
      }

      & .preview {
        position: absolute;
        z-index: -1;

        & video {
          background-size: cover;
          height: 100%;
          width: 100%;
        }

        & .sketchfab-embed-wrapper {
          position: relative;
          height: 100%;

          & iframe {
            position: absolute;
            left: 10%;
            top: 5%;
            width: 84.5%;
            height: 70%;
          }
        }

      }
    }
  }
}

#canvas {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  canvas {
    width: 100%;
    height: 100%;
  }

  // display: none;
}

.panel {

  position: absolute;
  height: 100%;
  z-index: 2;
  // width: 206.96px;
  width: $panel-offset;
  background: $secondary-color;
  // border: 2px solid red;
  // TODO: make the width adjust appropriately

  &.left {
    border-right: $border;
    left: 0px;
  }

  &.right {
    padding: 1%;
    border-left: $border;
    right: 0px
  }
}

//#region main navbar (ellipse bar)
//list to easily add items to
$ellipses-spacing: 1.5rem;
$ellipses-slider: (slides: 5,
  transition-speed: 1.5s);

// hide input radio fields
input[name="ellipses"] {
  display: none;
}

//sas loops to handle carousel interaction
//style active
@for $i from 0 through map_get($ellipses-slider, slides) {
  #ellipses-page__#{$i}:checked~#slider label[for="ellipses-page__#{$i}"] {
    & .slider-label {
      color: $primary-text-color;
    }

    & .slider-number {
      color: $primary-text-color;
    }

    & svg {
      background: $primary-text-color;
      color: $primary-text-color;
    }
  }
}

.ellipses-bar {

  //desktop navigation bar
  @include media-breakpoint-up(lg) {
    position: fixed;
    width: 15%;

    & .ellipses__text {
      position: relative;
      margin: 30vh auto auto auto;
      text-align: center;
      color: $third-text-color;
    }

    color: $secondary-text-color;

    #slider {
      padding: 10% .5%;
      position: relative;
      margin: auto;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      justify-content: flex-end;
      width: 65%;
      @include borderRadius1();
      border: $border;

      & label {
        margin: auto;
        width: 50%;
        left: -15%;
        position: relative;
        display: flex;
        cursor: pointer;

        & .slider-label {
          font-size: $p;
          order: 2;
          margin: auto;
          top: 0px;
          width: 40px;
          padding-left: 10%;
          height: 50%;
          vertical-align: middle;
          margin-bottom: 10%;
        }

        & .slider-number {
          font-size: $h3;
          display: none;
          order: 0;
          padding-right: 10%;
        }

        & svg {
          order: 1;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
          background: $third-text-color;
          color: $primary-color;
          @include borderRadius100();
          @include animation3();
        }

        &:hover {
          & svg {
            @include animation3();
            width: 20px;
            height: 10px;
            border: 10px solid currentColor;
            background: currentColor;
          }
        }
      }


    }

  }

  //mobile navigation bar
  @include media-breakpoint-down(md) {}
}

//#region social media links
#social-media-bar {
  position: sticky;
  top: 44px;
  width: 100%;
  padding: 0% 15%;
  display: flex;
  justify-content: space-between;
  // @include testBounds();

  & a {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 51;
    clear: both;
    right: 0px;
    cursor: pointer;
    width: 22%;
    height: 100%;
    vertical-align: middle;

    &::after {
      position: absolute;
      display: block;
      border-radius: 100%;
      bottom: -12px;
      border: 5px solid $primary-color;
      width: 0%;
      height: 0%;
      content: '';
      z-index: 10000;
      @include borderRadius1();
      @include animation3();

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &:hover::after {
      width: 100%;
      height: 100%;
      bottom: 0px;
      border: 3.5px solid $primary-color;
      @include borderRadius100;
    }

    & img {
      align-self: center;
      display: inline;
      width: 80%;
      height: 80%;
      margin-bottom: 20%;

      @include media-breakpoint-down(md) {
        width: 300%;
      }
    }
  }
}

//#endregion social media links


//#endregion nav bar

//#region loading screen
.loader {

  @include media-breakpoint-down(md) {
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0px;
    position: fixed;
    background: black;
    z-index: 1100;
    color: var(--clr-fourth);
    text-align: center;
    vertical-align: middle;
    padding-top: 40%;

    #loader-bar {
      position: relative;
      top: -40rem;
      font-size: 3em;
      text-align: center;
      color: var(--clr-fourth);
      padding: .5%;
      font-family: 'brown-light';
      max-height: 50px;
      width: 80%;
      z-index: 1101;

    }
  }

  @include media-breakpoint-up(lg) {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background: black;
    z-index: 1100;
    //font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    padding: 5% 20% 5% 20%;
    color: var(--clr-fourth);



    #loader-bar {
      //filter: url(#turbulence);
      //-webkit-filter: url(#turbulence);
      //nofilterifmobile(performance):;
      // display: inline;
      position: relative;
      top: 20%;
      //font-size: 'brown';
      text-align: center;
      // border: 3px solid purple;
      color: var(--clr-fourth);
      padding: .5%;
      margin: auto;
      max-height: 50px;
      width: 80%;
      // background: var(--clr-primary);
      z-index: 1101;
    }
  }

  #loader-bar {
    left: -.5rem;
  }
}

//load end
.finished {
  animation-delay: .5s;
  animation-name: finish-load;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.lds-ring {
  // border: 3px solid red;
  display: inline-block;
  position: relative;
  top: 15%;
  text-align: center;
  padding: 4rem;
  width: 60%;
  height: 40%;

  #lds-ring__text {
    position: absolute;
    display: block;
    top: 100%;
    left: 10rem;

    margin: auto;
    width: 40%;
    font-family: 'brown-bold';
  }

  #lds-ring__logo {
    position: absolute;
    display: inline-block;
    top: 4rem;
    left: 15rem;
    margin: auto;
    width: 5rem;
    font-family: 'brown-bold';
  }

  @include media-breakpoint-down(md) {
    display: inline-block;
    position: relative;
    top: 10%;
    left: 0%;
    width: 100%;
    font-size: 6rem;
    height: 90%;
    text-align: center;

    #lds-ring__text {
      position: relative;
      display: inline-block;
      margin: 60rem auto;
      width: 100%;
      left: 0rem;
      top: 0px;
      font-family: 'brown-bold';
    }

    #lds-ring__logo {
      position: absolute;
      top: 12%;
      margin: auto;
      left: 40rem;
      width: 20rem;
      font-family: 'brown-bold';
      // border: 3px solid yellow;
    }
  }

  & div {
    @include media-breakpoint-up(lg) {
      display: block;
      position: absolute;
      width: 13rem;
      height: 13rem;
      top: 0%;
      right: 33%;
      border: 8px solid var(--clr-primary);
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: var(--clr-primary) transparent transparent transparent;
      -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }

    @include media-breakpoint-down(md) {
      display: block;
      position: absolute;
      width: 50rem;
      height: 50rem;
      top: 0%;
      right: 26%;
      border: 8px solid var(--clr-primary);
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: var(--clr-primary) transparent transparent transparent;
    }

    & div:nth-child(1) {
      animation-delay: -0.45s;
    }

    & div:nth-child(2) {
      animation-delay: -0.3s;
    }

    & div:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

//#region loading screen animations
@keyframes finish-load {
  0% {
    height: 100%;
    width: 100%;
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    // height: 0%;
    visibility: hidden;
    display: none;
    color: transparent;
  }
}

//ring animation
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);

  }
}

//#endregion loading screen animations

//#endregion loading rings and content

//#endregion new styles

/* Portrait and Landscape */
@media only screen and (min-width: 768px) {
  .grids {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}