//reset stupid differences in css from each browser
// @import '../../node_modules/reset-css/sass/_reset.scss';


// #region custom page colors
$secondary-color: #100A29;
$foreground-color: #080515;
$primary-color: #8CF2D9;
$primary-color-inverse: #7E1B25;
$primary-text-color: #fff;
$secondary-text-color: rgba(255, 255, 255, 0.6);
$third-text-color: rgba(255, 255, 255, 0.1);
$gradient-color: $foreground-color;
// $gradient-color: linear-gradient(-0deg, rgba($foreground-color, .9) 100%,
//   $secondary-color 99%);

@mixin reverseColor {
  /*ThisvalueistheOPPOSITEcolorofourbackground*/
  background: $foreground-color;
  mix-blend-mode: difference;
  color: $primary-color;

}

@mixin multiplyColor {
  /*ThisvalueistheOPPOSITEcolorofourbackground*/
  background: $primary-color;
  mix-blend-mode: exclusion;

}

@mixin grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

// #endregion custom page colorsf

//#region TODO: get positioning mixins
//#endregion positioning mixins

//#region customize scrollbar
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {

  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

//#endregion customize scrollbar

//#region custom fonts to include
@font-face {
  font-family: 'brown-thin';
  src: url("../../static/fonts/brown/Brown-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'brown-light';
  src: url("../../static/fonts/brown/Brown-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'brown-bold';
  src: url("../../static/fonts/brown/Brown-BoldAlt.ttf") format("truetype");
}

@font-face {
  font-family: 'brown-regular';
  src: url("../../static/fonts/brown/Brown-Regular.ttf") format("truetype");

}

//#endregion custom fonts to include

//#endregion z-index layers (help organize the positioning of overlapping elements

//#region animation mixins @include name to use them
@mixin animation1($propery: all, $time: .25s) {
  transition: $propery $time cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-transition: $propery $time cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: $propery $time cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: $propery $time cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: $propery $time cubic-bezier(0.39, 0.575, 0.565, 1);
}

@mixin animation2($propery: all) {
  transition: $property .2s ease-in-out;
  -webkit-transition: $property .2s ease-in-out;
  -moz-transition: $property .2s ease-in-out;
  -ms-transition: $property .2s ease-in-out;
  -o-transition: $property .2s ease-in-out;
}

@mixin animation3($propery: all) {
  transition: $propery .4s cubic-bezier(0.23, 1, 0.320, 1);
  -webkit-transition: $propery .4s cubic-bezier(0.23, 1, 0.320, 1);
  -moz-transition: $propery .4s cubic-bezier(0.23, 1, 0.320, 1);
  -ms-transition: $propery .4s cubic-bezier(0.23, 1, 0.320, 1);
  -o-transition: $propery .4s cubic-bezier(0.23, 1, 0.320, 1);
}

@mixin animation4($propery: all) {
  transition: $property .75s cubic-bezier(.19, 1, .22, 1);
  transition: $property .75s cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: $property .75s cubic-bezier(.19, 1, .22, 1);
  -moz-transition: $property .75s cubic-bezier(.19, 1, .22, 1);
  -ms-transition: $property .75s cubic-bezier(.19, 1, .22, 1);
  -o-transition: $property .75s cubic-bezier(.19, 1, .22, 1);
}

@mixin animation5($propery: all) {
  transition: $propery .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-transition: $propery .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: $propery .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: $propery .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: $propery .2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@mixin animationLinear($propery: all) {
  transition: linear;
  -webkit-transition: linear;
  -moz-transition: linear;
  -ms-transition: linear;
  -o-transition: linear;
}

@mixin transition1($property: all, $time: .5s, $type: ease-in) {
  transition: $property $time $type;
  -webkit-transition: $property $time $type;
  -moz-transition: $property $time $type;
  -ms-transition: $property $time $type;
  -o-transition: $property $time $type;
}


@mixin lineAnimation {
  &:after {
    content: "";
    position: absolute;
    bottom: .26vw;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: currentColor;
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    @include animation4();
  }

  &:hover:after {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@mixin hoverDots {
  &::after {
    position: absolute;
    display: block;
    border-radius: 100%;
    top: -12px;
    border: 5px solid currentColor;
    width: 0%;
    margin: auto;
    height: 0%;
    content: '';
    visibility: hidden;
    z-index: 3;
    @include borderRadius1();
    @include animation3();

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &:hover::after {
    @include occupyContainer();
    bottom: -25%;
    width: 150%;
    border: .5px solid $primary-text-color;
    @include borderRadius100;
  }
}

@mixin logoAnimaiton {

  //TODO make a logo animation
  .logo-part {
    animation: moveIn 5s ease alternate infinite;
    -webkit-animation: moveIn 5s ease alternate infinite;

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }

    &:nth-child(4) {
      animation-delay: 0.3s;
    }

    &:nth-child(5) {
      animation-delay: 0.4s;
    }
  }

  @keyframes moveIn {
    90% {
      transform: scale(1.0);
    }

    100% {
      transform: scale(1.1);
    }
  }
}


@mixin hoverFillTop {

  &::after {
    content: '';
    position: absolute;
    @include occupyContainer();
    opacity: 0;
    top: 0px;
    left: 0px;
    z-index: -1;
    @include animation1(opacity.3s);
    background: rgba($primary-color, .1);
  }

  &:hover {
    &::after {
      @include animation1(opacity.3s);
      opacity: 1;
    }
  }
}

@mixin hoverFillBottom {

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0px;
    z-index: -1;
    background: $third-text-color;
    @include animation1();
  }

  &:hover {
    &::after {
      height: 100%;
      @include animation1();
    }
  }
}

@mixin hoverFillLeft {

  &::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: $third-text-color;
    @include animation1();
  }

  &:hover {
    &::after {
      width: 100%;
      @include animation1();
    }
  }
}

//#endregion animation mixins

@mixin shadow1 {
  box-shadow: 10px 10px 20px rgba($foreground-color, $alpha: .25);
}

@mixin shadow2 {
  box-shadow: 2px 1px 10px rgba($primary-text-color, $alpha: .06),
    -2px -1px 10px rgba($primary-color, $alpha: .06);
}

//#region sass imports
@import '../../node_modules/bootstrap-scss/mixins';

//#region hamburger menu styling and importation
$hamburger-layer-color: $primary-color;
$hamburger-layer-width: 3.5em; //WAS 60PX
$hamburger-layer-height: .4em; //WAS 15PX
$hamburger-layer-spacing: .7em; //WAS 8PX
$hamburger-types: (stand-r); //only imprt this one to reduce css bundle size
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
//#endregion hamburger menu styling and importation


//#endregion sass imports

// #region custom breakpoints
$grid-breakpoints: (s: 0,
  sm: 576px, //standard for phones
  md: 768px, //standard for ipad
  lg: 992px,
  xl: 1000px) !default;

//set container max values
$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 10000px) !default; //was 1140px
// #endregion custom breakpoints

//#region Remy function to convert pixels to rems
@function remy($value) {
  @return ($value / $browser-context) * 1rem;
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function em2px($target, $context: $base-font-size-em) {
  @if $target==0 {
    @return 0
  }

  @return ($target / 1em) * ($context / 1em) * 16+0px;
}

//#endregion Remy function to convert pixels to rems


//#region golden ratio font calculator https://www.modularscale.com/?1&em&1.2
// @mixin font-size($scale: 1, $font-size-base: 16) {
//   font-size: round(($font-size-base * ((exp(1.618, $scale) - exp(-0.618, $scale)) / 2.236)) + ($font-size-minor * ((exp(1.618, ($scale - 1)) - exp(-0.618, ($scale - 1))) / 2.236)));
// }
//#endregion golden ratio font calculator

//#region desktop element dimension properties
$panel-offset: 150px;
$standard-margin: 25px;
$standard-margin: 3vh;
$section-margin: 23vh;
//#endregion desktop element dimension properties

//#region mobile element dimension properties
$mobile-panel-offset: 15%;
$mobile-standard-margin: 10px;
$mobile-section-margin: 12vh;
//#endregion mobile element dimension properties

//offset to fit screen better
$baseFontSize: 100%;
$small: 0.618em;
$h3: 1.0em;
$p: 1.618em;
$h2: 2.618em;
$h1: 4.236em;
$title: 6.854em;


// #region custom properties
$corner:12.5px;
$border:1px solid rgba(255, 255, 255, .1);
$border2:1px solid rgba(0, 0, 0, .1);


@mixin borderRadius1 {
  -webkit-border-radius: $corner;
  -moz-border-radius: $corner;
  -ms-border-radius: $corner;
  -o-border-radius: $corner;
}

@mixin borderRadius2 {
  -webkit-border-radius: 0 0 $corner $corner;
  -moz-border-radius: 0 0 $corner $corner;
  -ms-border-radius: 0 0 $corner $corner;
  -o-border-radius: 0 0 $corner $corner;
}


@mixin borderRadius100 {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

@mixin testBounds {
  border: .5px solid rgba(red, .3);
}

@mixin verticalText {
  text-orientation: sideways;
  -webkit-text-orientation: sideways;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}

@mixin rotate-90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}


@mixin rotate-90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

//common usage, used to fill the parent element container
@mixin occupyContainer {
  width: 100%;
  height: 100%;
}

// #endregion custom properties

// #region custom browser styling
::selection {
  color: $primary-color;
  background: transparent;
}

::-moz-selection {
  color: $primary-color;
  background: transparent;
}

button {
  background: transparent;
  border: none;

  &:hover {
    fill: $primary-color;
    cursor: pointer;
  }
}

@mixin hideScrollbar {
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}

// #endregion custom browser styling

//#region react-transition-group stylings

//before (no active)
.right-transition-enter {
  left: 100vw;
}

//after (active)
.right-transition-enter-active {
  left: 0vw;
  @include transition1(left, .5s, ease); //persist final state
}

.right-transition-enter-done {
  left: 0vw;
}

//before (no active)
.left-transition-enter {
  left: -100vw;
}

//after (active)
.left-transition-enter-active {
  left: 0vw;
  @include transition1(left, .5s, ease); //persist final state
}

.left-transition-enter-done {
  left: 0vw;
}


//before (no active)
.bottom-transition-enter {
  bottom: 100vw;
}

//after (active)
.bottom-transition-enter-active {
  bottom: 0vw;
  @include transition1(bottom, .5s, ease); //persist final state
}

.bottom-transition-enter-done {
  bottom: 0vw;
}

//before (no active)
.fade-transition-enter {
  opacity: 0;
}

//after (active)
.fade-transition-enter-active {
  opacity: 1;
  @include transition1(opacity, .5s, ease);
}

//persist final state
.fade-transition-enter-done {
  opacity: 1;
}

//from script
.click-active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  @include animation1(transform);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);

  & .blog__post {
    @include shadow1();
  }
}

//#endregion react-transition-group stylings

//#region layout styling

html,
body {
  color: $primary-text-color;
  margin: 0;
  padding: 0;
  letter-spacing: 90%;
  scroll-behavior: smooth;
  font-size: $baseFontSize;

  font-family: brown-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: $foreground-color;
  overflow-x: hidden;

  //tablet
  @include media-breakpoint-between(sm, lg) {

    font-size: .9em; //drop font size by 25%
  }

  //mobile
  @include media-breakpoint-down(sm) {
    font-size: .85em; //drop font size by 25%
  }
}

* {
  // margin-top: 0;
  box-sizing: border-box;
}

p {
  font-size: $p;
}

h3 {
  font-size: $h3;
  font-weight: normal;
}

h2 {
  font-size: $h2;
}

h1 {
  font-size: $h1;
}

//#endregion text sizing (golden ratio)



a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.site-wrapper {


  overflow: hidden;
  font-size: $h3;
  position: absolute;
  background: transparent; // border: 2px solid red;
  // left: $panel-offset;
  left: 0px;
  width: 100%;
  // width: $panel-offset*8;
  // margin: 0 auto;

  img {
    max-width: 100%;
  }


  //when in mobile, site content positions on the left side (the left panel will dissapear)
  @include media-breakpoint-down(sm) {
    left: 0px;
    width: 100%;
  }
}


$hero-header: 90vh;



//TODO: move site header out of hero header
.hero-header {
  padding: 0 14%;
  padding-top: $standard-margin * .7;
  padding-bottom: $standard-margin * 6;
  padding-left: 10%;
  // calc($panel-offset + $standard-margin);
  // height: $hero-header;
  border: none;

  .headline {
    font-size: $h1;
    width: 100%;
    text-align: center;
    font-family: 'brown-bold';
    line-height: 100%;

    @include media-breakpoint-down(sm) {
      font-size: $h1;
      top: 0px;
      text-align: left;
    }
  }

  & .primary-content {
    font-size: $small;
    display: flex;
    justify-content: center;
    color: $primary-color;
    width: 100%;
    position: relative;
    margin: auto;
    font-weight: 300;
    bottom: 0px;
    height: 100%;

    @include media-breakpoint-down(sm) {
      font-size: $small;
      text-align: left;
    }

    & .typewriter {
      margin-top: 0px;
      font-family: 'brown-light';
      position: relative;
      text-align: center;
      margin-bottom: $standard-margin;

      @include media-breakpoint-down(sm) {
        text-align: left;
        left: 0px;
        display: none;
      }

      & span {
        border-right: .05em solid;
        animation: caret 1s steps(1) infinite;
        -webkit-animation: caret 1s steps(1) infinite;
      }

      @keyframes caret {
        50% {
          border-color: transparent;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-left: $mobile-standard-margin *3;
  }
}

//#region navigation styling
#canvas {
  //same size as hero header
  height: $hero-header;
  z-index: -1;
  border-bottom: $border;
  top: -$standard-margin;
  position: absolute;
  @include occupyContainer();
  overflow: hidden;

  canvas {
    @include occupyContainer();
  }

  // @include media-breakpoint-between() {}

  @include media-breakpoint-between(sm, md) {
    height: 90%;
    position: fixed;
  }

  // display: none;
}


.panel {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  top: 0px;
  padding: $standard-margin 1.3%;
  width: $panel-offset;
  color: $third-text-color;
  fill: $primary-color;
  z-index: 10;


  //where the nav bar resides
  &.left {
    left: 0px;
    @include hoverFillTop();
    @include animation1();

    & .branding {
      fill: $primary-color;
      max-width: 100%;
      z-index: 100;
      position: relative;
      flex-grow: 2;

      & .logo-container {
        position: relative;
        width: auto;
        height: auto;
        margin-bottom: $standard-margin;

        & .logo {
          position: absolute;
          padding: 25%;
          left: 1%;
          bottom: 5%;
          @include occupyContainer();

          & svg {
            @include occupyContainer();
          }
        }

        & #progress-indicator {
          overflow: visible;
          background: rgba($foreground-color, .9);
          margin: 0 auto;
          z-index: -1;
          position: relative;
          display: block;
          @include borderRadius100();
          border: $border;
          @include shadow2();

          // width: max-content
          & circle {
            stroke: $primary-color;
            stroke-width: 2px;
            transform-origin: 50% 50%;
            // transition: stroke-dashoffset 0.35s;
            @include rotate-90();
          }

        }

      }


      .site-header {
        z-index: 3;
        text-align: center;
        left: 0px;
        position: relative;
        bottom: 0px;
        align-items: center;
        margin: 0 auto;
        margin-top: 30%;
        max-width: 85%;
        background: rgba($foreground-color, .9);
        padding: $standard-margin $standard-margin*.25;
        border: $border;
        flex-grow: 3;

        @include borderRadius1();

        .navigation {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          font-size: $h3;
          row-gap: $standard-margin/2;
          font-weight: 300;
          text-transform: capitalize;
          @include occupyContainer();

          a {
            color: $primary-text-color;
            text-decoration: none;
            margin: 0 8px 0;
            padding: $standard-margin * .25 0;
            border: $border;
            @include shadow2();
            @include borderRadius1();

            &[aria-current] {
              background: rgba($third-text-color, .25);
              color: $primary-color;
              font-weight: 700;
            }

            &:hover {
              background: rgba($primary-color, .25);
              color: $primary-color;
            }

          }

        }

        @include media-breakpoint-between(sm, md) {
          width: 60%;
        }

        @include media-breakpoint-down(sm) {
          display: none;
          visibility: hidden;
        }
      }

    }

    //turn the left panel into a bottom panel (content within this panel have adjustments made indivial of this panel scss hierarchy)
    @include media-breakpoint-down(sm) {
      visibility: hidden;
      display: none;
    }
  }

  //moves to left side on breakpoint
  & .right {
    right: 0px;
    z-index: -1;
    pointer-events: none;


    & * {
      pointer-events: visible;
    }

    @include media-breakpoint-down(md) {
      display: none;
      visibility: hidden;
    }
  }
}


.hamburger {
  z-index: 1001;
  position: fixed;
  top: 2%;
  right: 0%;
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
    margin: auto;
  }
}


.mobile__menu__overlay {
  z-index: 1000;
  position: fixed;
  top: 0px;
  background-size: cover;
  @include occupyContainer();
  padding: 30% 0;
  background-image: url('https://i.imgur.com/jNPlJI5.png');
  background-color: rgba($foreground-color, .9);
  display: flex;
  left: 0px;
  justify-content: space-evenly;
  flex-direction: column;

  & span {
    font-size: $h1;
    display: flex;
    justify-content: center;


    & a {
      color: $primary-text-color;
    }

    margin-bottom: $mobile-standard-margin * 2;
  }

  opacity: 1;
  display: block;
}

//#region main navbar (ellipse bar)
//list to easily add items to
$ellipses-spacing: 1.5rem;
$ellipses-slider: (slides: 5,
  transition-speed: 1.5s);

//sas loops to handle carousel interaction
//style active
@for $i from 0 through map_get($ellipses-slider, slides) {
  #ellipses-page__#{$i}:checked~#slider label[for="ellipses-page__#{$i}"] {

    @include animation3();

    background: rgba($third-text-color, .25);

    & .slider-label {
      color: $primary-color;
    }

    & .slider-number {
      color: $primary-text-color;
    }

    & svg {
      fill: $primary-color;
    }
  }
}

.ellipses-bar {
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0%;
  flex-grow: 1;

  // @include testBounds();
  //desktop navigation bar
  color: $secondary-text-color;

  // hide input radio fields
  & input[name="ellipses"] {
    display: none;
  }


  #slider {
    padding: $standard-margin * .5;
    background: $foreground-color;
    // position: relative;
    display: flex;
    z-index: 101;
    justify-content: space-evenly;
    flex-direction: column;
    // width: 60%;
    border: $border;
    @include borderRadius1();
    height: 100%;
    width: 85%;

    @include media-breakpoint-down(md) {
      @include shadow1();
      border: none;
      background: transparent;
    }


    & label {
      width: 100%;
      background: rgba($third-text-color, .025);
      border: $border;
      padding: $standard-margin * .25;
      @include shadow2();
      @include borderRadius1();
      text-align: center;
      display: flex;
      margin: 5px 0;
      font-weight: bolder;
      flex-direction: column;
      cursor: pointer;

      & .slider-label {
        font-size: $small;
        color: $third-text-color;
        display: inline-block;
        margin-top: -10px;
        width: 100%;
        text-align: center;
        order: 3;
      }

      & .slider-number {
        display: none;
      }

      & svg {
        display: inline-flex;
        position: relative;
        margin: 0% auto;
        @include occupyContainer();
        max-width: 45px;
        fill: $third-text-color;
        order: 2;
        color: $primary-color;
        @include animation3();
      }

      &:hover {
        & svg {
          @include animation3();
          fill: $primary-text-color;
        }

        background: rgba($primary-color, .25);

        & .slider-label {
          color: $primary-text-color;

        }
      }

      @include media-breakpoint-down(md) {
        background: rgba($foreground-color, 1);
      }

    }


  }


  //tablet navigation bar
  @include media-breakpoint-between(sm, lg) {

    #slider {
      font-size: 1.5em;
      padding: 0%;
      width: 60%;
      margin: auto;
    }
  }

  @include media-breakpoint-down(sm) {
    visibility: hidden;
  }

}

//#region social media links
#social-media-bar {
  @include borderRadius1();
  width: 100%;
  display: flex;
  fill: inherit;
  z-index: 1;
  color: inherit;
  justify-content: space-evenly;
  flex-direction: row;

  & a {
    position: relative;
    justify-content: center;
    fill: inherit;
    color: $primary-color;
    cursor: pointer;

    &:hover svg {
      fill: $primary-text-color;
    }
  }

  @include media-breakpoint-between(sm, lg) {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

//#endregion social media links

.site-title a {
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  left: -50%;
  width: 150%;
  text-transform: uppercase;
  text-align: right;
  fill: inherit;
  z-index: 1;
}


//#endregion nav bar

//#region loading screen
.loading {
  position: absolute;
  background: $foreground-color;
  width: 100vw;
  height: 100vh;
  z-index: 1000000;
  display: flex;
  justify-content: center;
  fill: white;

  // & * {
  //   @include testBounds();
  // }

  & .loading__content {
    display: flex;

    & .loading-logo,
    .p {
      position: absolute;
      display: inline;
      width: 250px;
      height: 250px;
      text-align: center;
      top: 47%;
    }

    img {
      width: 250px;
    }
  }
}

//#endregion loading rings and content

//#endregion navigation styling



//#endregion layout styling

//#region blog styling

.button {
  padding: 9px 18px;
  display: inline-block;
  background: #fff;
  border: 1px solid #d3d6e7;
  border-radius: 9px;
  text-decoration: none;
  color: #868892;
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;

  &.-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $secondary-color;

    &:hover {
      background-color: #10072b;
      color: #fff;
      text-decoration: none;
    }
  }

  &:hover {
    background-color: #d3d6e7;
    color: #00062b;
  }
}


.post {
  padding: $standard-margin;
  background: $foreground-color;


  >.blog-post-content {
    @include borderRadius1();
    border: $border;
    padding: 2%;
    max-width: 1000px; //was 768px
    margin: 0 auto;
  }

  >.blog-post-content *:last-child,
  >*:last-child {
    margin-bottom: 0;
  }

  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;

    font-size: 2rem;
  }

  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }

  @include media-breakpoint-between(sm, md) {
    padding-left: $panel-offset;
  }

}

.post-thumbnail {
  text-align: center;
  min-height: 380px;
  //background-image: url('/assets/circles-light.png');
  background-color: #493b8a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  margin-bottom: 36px;
  color: white;
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;

  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    @include occupyContainer();
    z-index: 1;
  }

  >* {
    position: relative;
    z-index: 2;
  }

  .post-meta {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
  }
}

.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  height: 5%;
}

.card {
  display: grid;
  background: white;
  @include borderRadius1();
  @include shadow2();
  border: $border;
  overflow: hidden;


  &:hover .post-link {
    color: $primary-color;
  }

  >a img {
    display: block;
  }

  >header {
    padding: 24px;
  }

  >h2:first-child {
    margin: 0 0 0.5rem 0;
  }

  .post-title {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .post-meta {
    font-weight: 100;
    margin-bottom: 0;
  }

  .post-link {
    color: #333;
    text-decoration: none;
  }
}

.post-meta {
  font-size: 0.8rem;
  color: #666;
}

.site-footer {
  text-align: center;
  // margin: 90px 0 16px;
  padding: $standard-margin * 2;
  color: #666;

  a {
    font-weight: 700;
  }
}

.form-container {
  background-color: #f7f8fe;
  padding: 32px;
  border: 1px solid #d3d6e7;
  border-radius: 9px;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid #d3d6e7;
    border-radius: 6px;

    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
  }

  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}

.two-grids {
  display: grid;
  grid-gap: 32px;

  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}

.blog-main {
  position: relative;
  min-height: 100%;
  width: 100%;

  section {

    position: relative;
    width: auto;
    width: 100%;
    min-height: 25vh; //ensures sections are large enough to be calculated by navigation menu
    max-height: 50vh;
    background: $primary-color;
    margin: 0px;
    fill: inherit;
    color: inherit;
    z-index: 0;
    padding-left: $panel-offset;
    @include occupyContainer();

    @include media-breakpoint-down(sm) {
      padding-left: $mobile-standard-margin * 3;
    }

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      left: 0px;
      color: inherit;
      z-index: 5;
      width: $panel-offset * 3.25;
      background: linear-gradient(90deg, currentColor 5%, transparent);
      height: 100%;

      @include media-breakpoint-down(sm) {
        width: $mobile-standard-margin * 15;
      }

    }


    .blog__header {
      z-index: 6;
      margin-bottom: $standard-margin;
      margin-top: $standard-margin;
      display: flex;
      flex-direction: row;
      row-gap: $standard-margin;
      position: absolute;
      color: $foreground-color;
      font-size: $h1;
      pointer-events: none;
    }


    .blog__wrapper {
      display: flex;
      // width: auto;
      height: 100%;
      z-index: 1;
      min-height: 60vh;
      // margin-bottom: $standard-margin;
      overflow-x: scroll;
      // overflow-y: hidden;
      justify-content: start;
      // flex-wrap: wrap; tosdo: enable by button
      @include hideScrollbar();
      @include animation1(transform);
      @include occupyContainer();

      .blog__post {
        min-width: 25vw;
        min-height: 25vh;
        max-height: 15vh;
        max-width: 45vw;
        z-index: 4;
        border: $border2;
        color: inherit;
        margin: $standard-margin 0;
        margin-right: $standard-margin * 2;
        margin-left: $standard-margin * 2;
        margin-top: $standard-margin * 6.2;
        position: relative;
        // pointer-events: visible;
        @include shadow1();
        @include borderRadius1();
        @include animation1(margin);

        &:hover {
          margin-bottom: $standard-margin;
          @include animation1(margin);

          @include shadow1();
        }

        img {
          object-fit: cover;
          @include occupyContainer();
          @include animation1();
          @include borderRadius1();

          &::after {}


          &:hover {
            @include animation1();
            @include shadow1();
          }
        }

        .post__title {
          left: 0px;
          position: absolute;
          background: $foreground-color;
          bottom: 0px;
          width: 100%;
          font-size: $p;
          color: $primary-text-color;
          padding: $standard-margin * .5;
          border: $border;
          @include borderRadius2();
        }

        .post__meta {
          // bottom: -$standard-margin;
          border-style: inset;
          display: none;
          position: absolute;
        }


      }
    }
  }
}


.go-back {
  opacity: 1;
  flex-grow: 5;
  top: 0px;
  fill: white;

  & svg {
    justify-content: flex-start;
  }

  z-index: 0;
}

//#endregion blog styling


audio {
  width: d; //odd hack to override styles in chrome
  @include borderRadius1();
  @include shadow2();
  background: $foreground-color;
  border: $border;
}

//#region content styling
section {
  width: 80%; //this is modified inline in react
  margin: auto;
  margin-bottom: $standard-margin*4;
  box-sizing: content-box;
  z-index: 10;
  min-height: 45vh; //ensures sections are large enough to be calculated by navigation menu
  // @include shadow2();

  @include media-breakpoint-between(sm, lg) {
    width: 80%;
    padding-left: $panel-offset;
    position: relative;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: $mobile-section-margin;
    width: 100%;
    left: 0px;
    padding: $mobile-section-margin * .25;
    margin-bottom: $mobile-section-margin * .25;
  }

  //when user screen fit mobile screen
  & a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .section__header {
    z-index: -1;
    padding: 0%;
    padding-left: $standard-margin;
    text-transform: capitalize;
    width: 100%;
    display: flex;
    flex-basis: content;
    justify-content: space-between;
    border-bottom: $border;


    @include media-breakpoint-down(sm) {
      background: transparent;
      font-size: $small;
    }
  }

  //allows overflowing on mobile view
  & .section__wrapper {
    width: auto;

    //mobile stlying
    @include media-breakpoint-down(sm) {
      @include borderRadius1();
      border: 1px solid $primary-text-color;
      width: 100%;

    }

    & .section__grid {
      color: $secondary-color;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $standard-margin * .1;
      height: 5%;
      // padding: $standard-margin * 2.5;

      //mobile

      @include media-breakpoint-between(sm, lg) {
        grid-template-columns: 1fr 1fr;
      }

      @include media-breakpoint-down(sm) {
        padding: 2%;
        grid-gap: 10px;
        overflow: scroll;
        overflow-y: hidden;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      //#region mixins reused with different card types, should remain consistent
      @mixin title {

        & .title {
          width: 80%;
          margin-bottom: $standard-margin * 2;
          line-height: 1em;

          //drop margin size on mobile
          @include media-breakpoint-down(sm) {
            margin-bottom: $mobile-standard-margin;
          }
        }
      }

      @mixin description {
        & .description {
          margin-bottom: $standard-margin;

          //drop margin size on mobile
          @include media-breakpoint-down(sm) {
            margin-bottom: $mobile-standard-margin;
            width: 95%;
          }
        }
      }

      @mixin preview {
        & .preview {
          position: absolute;
          top: -5%;
          left: -5%;
          @include occupyContainer();
          @include borderRadius1();
          @include animation1();
          @include shadow1();
          z-index: -2;

          & video {
            @include occupyContainer();
            @include borderRadius1();
            opacity: .4;
            max-width: 100%;
            background-size: contain;
            object-fit: cover;
          }

          & .sketchfab-embed-wrapper {
            position: relative;
            height: 100%;

            & iframe {
              position: absolute;
              left: 10%;
              top: 5%;
              width: 84.5%;
              height: 70%;
            }
          }

        }
      }

      @mixin cta {
        & .cta {
          &::before {
            content: '';
            position: absolute;
            z-index: -2;
            width: 105%;
            left: -7%;
            top: -2.5%;
            height: 105%;
            opacity: .1;
            border: 1px solid black;
            @include shadow1();
            @include animation3();
            @include borderRadius100();
          }

          &::after {
            content: '';
            position: absolute;
            z-index: -1;
            @include occupyContainer();
            @include animation3();
            @include borderRadius100();
            background: $primary-text-color
          }

          &:hover {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            @include animation3();

            &::before {}
          }

          cursor: pointer;
          position: absolute;
          bottom: -10%;
          left: -10%;
          color: $foreground-color;
          width: 100px;
          height: 100px;
          display: flex;
          flex-direction: column;
          padding: 5% 0;
          justify-content: center;
          @include animation3();
          @include animation3();
          @include borderRadius100();
          z-index: 3;
          // @include animation3();

          & p {
            line-height: 1em;
            font-size: $h3;
            margin: auto;
          }

          & svg {
            position: relative;
            @include occupyContainer();
            fill: $foreground-color;
          }

          //mobile
          @include media-breakpoint-down(sm) {
            display: none;
            padding: 0% 10%;
            @include borderRadius1();
          }
        }
      }

      //#endregion mixins reused with different card types, should remain consistent

      //standard grid of cards does not go into into right panel
      & .section__grid__card {
        position: relative;
        @include borderRadius1();
        display: grid;
        padding: $standard-margin;

        @include media-breakpoint-down(sm) {
          @include occupyContainer();
        }


        & img {
          @include borderRadius1();
          object-fit: fill;

          &:hover {
            @include grayscale();
          }
        }


        & .card {
          z-index: 2;
          background: white;
          padding: $standard-margin;
          //mobile
          @include occupyContainer();
          @include title();
          @include description();
          @include animation3();

          @include media-breakpoint-down(sm) {
            min-width: 250px;
          }


          &:hover {
            & li {
              padding: 1.5%;
              margin-left: -$standard-margin * 2;
              background: white;
              color: $foreground-color;
              @include borderRadius1();
            }

            @include animation3();
            background: $foreground-color;
            color: $primary-text-color;
          }
        }
      }

      & .section__grid__projects {

        z-index: 2;
        padding: $standard-margin;

        //used on projects section (has hover effects)
        & .projects__card {
          color: $secondary-color;
          background-color: $primary-text-color;
          position: relative;
          padding: $standard-margin;
          padding-right: 10%;
          min-width: 100%;

          right: 0px;
          @include borderRadius1();

          @include shadow2();

          @include animation1();
          @include occupyContainer();

          @include title();
          @include description();
          @include cta();
          //underneath all other content, then comes up on hover
          @include preview();

          //mobile
          @include media-breakpoint-down(sm) {
            //lower this padding in mobile
            min-width: 290px;
            margin-top: $standard-margin;
          }

          //#region project card hover effect
          &:hover {
            @include animation1();
            color: transparent;

            & .catagory {
              opacity: 0%;
              @include animation1(opacity);
            }

            & .preview {
              @include animation1();
              z-index: 1;
              left: 0%;
              top: 0%;

              & video {
                opacity: 1;
              }
            }
          }

          //#endregion hover effect

          & .catagory {
            top: 0px;
            height: 100%;
            // display: none;
            position: absolute;
            font-size: $h3;
            text-align: left;
            font-family: 'brown-light';
            padding: 3%;
            color: $primary-text-color;
            @include shadow2();
            background: $foreground-color;
            border: $border;
            width: 10%;
            right: -$standard-margin * 1.5;
            z-index: 3;
            @include verticalText();
            @include animation1();
            border-radius: 0 $corner $corner 0;
            -webkit-border-radius: 0 $corner $corner 0;
            -moz-border-radius: 0 $corner $corner 0;
            -ms-border-radius: 0 $corner $corner 0;
            -o-border-radius: 0 $corner $corner 0;

            & h3 {
              margin: 50% auto;
            }
          }

        }

      }
    }
  }

  & li {
    margin-bottom: $standard-margin / 2;
    list-style-image: url('../../static/svg/arrow.svg');
    @include animation3();
    margin-left: $standard-margin;
  }

}

//#endregion

/* Portrait and Landscape */
@media only screen and (min-width: 768px) {
  .grids {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }

}