//reset stupid differences in css from each browser
// @import '../../node_modules/reset-css/sass/_reset.scss';

// #region custom page colors
$secondary-color: #100A29;
$foreground-color: #080515;
$primary-color: #8CF2D9;
$primary-color-inverse: #7E1B25;
$primary-text-color: #fff;
$secondary-text-color: rgba(255, 255, 255, 0.6);
$third-text-color: rgba(255, 255, 255, 0.1);
$foreground-color2: #201E2B;
$gradient-color: $foreground-color;
// $gradient-color: linear-gradient(-0deg, rgba($foreground-color, .9) 100%,
//   $secondary-color 99%);

@mixin reverseColor {
  /*ThisvalueistheOPPOSITEcolorofourbackground*/
  background: $foreground-color;
  mix-blend-mode: difference;
  color: $primary-color;

}

@mixin multiplyColor {
  /*ThisvalueistheOPPOSITEcolorofourbackground*/
  background: $primary-color;
  mix-blend-mode: exclusion;

}

@mixin grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

// #endregion custom page colorsf

//#region TODO: get positioning mixins
//#endregion positioning mixins

//#region customize scrollbar
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {

  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

//#endregion customize scrollbar

//#region custom fonts to include
@font-face {
  font-family: 'brown-thin';
  src: url("../../static/fonts/brown/Brown-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'brown-light';
  src: url("../../static/fonts/brown/Brown-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'brown-bold';
  src: url("../../static/fonts/brown/Brown-BoldAlt.ttf") format("truetype");
}

@font-face {
  font-family: 'brown-regular';
  src: url("../../static/fonts/brown/Brown-Regular.ttf") format("truetype");

}

//#endregion custom fonts to include

//#endregion z-index layers (help organize the positioning of overlapping elements

//#region animation mixins @include name to use them
@mixin animation1($propery: all, $time: .25s) {
  transition: $propery $time cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-transition: $propery $time cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: $propery $time cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: $propery $time cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: $propery $time cubic-bezier(0.39, 0.575, 0.565, 1);
}

@mixin animation2($propery: all) {
  transition: $property .2s ease-in-out;
  -webkit-transition: $property .2s ease-in-out;
  -moz-transition: $property .2s ease-in-out;
  -ms-transition: $property .2s ease-in-out;
  -o-transition: $property .2s ease-in-out;
}

@mixin animation3($propery: all) {
  transition: $propery .4s cubic-bezier(0.23, 1, 0.320, 1);
  -webkit-transition: $propery .4s cubic-bezier(0.23, 1, 0.320, 1);
  -moz-transition: $propery .4s cubic-bezier(0.23, 1, 0.320, 1);
  -ms-transition: $propery .4s cubic-bezier(0.23, 1, 0.320, 1);
  -o-transition: $propery .4s cubic-bezier(0.23, 1, 0.320, 1);
}

@mixin animation4($propery: all) {
  transition: $property .75s cubic-bezier(.19, 1, .22, 1);
  transition: $property .75s cubic-bezier(.19, 1, .22, 1);
  -webkit-transition: $property .75s cubic-bezier(.19, 1, .22, 1);
  -moz-transition: $property .75s cubic-bezier(.19, 1, .22, 1);
  -ms-transition: $property .75s cubic-bezier(.19, 1, .22, 1);
  -o-transition: $property .75s cubic-bezier(.19, 1, .22, 1);
}

@mixin animation5($propery: all) {
  transition: $propery .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-transition: $propery .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: $propery .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: $propery .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: $propery .2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@mixin animationLinear($propery: all) {
  transition: linear;
  -webkit-transition: linear;
  -moz-transition: linear;
  -ms-transition: linear;
  -o-transition: linear;
}

@mixin transition1($property: all, $time: .5s, $type: ease-in) {
  transition: $property $time $type;
  -webkit-transition: $property $time $type;
  -moz-transition: $property $time $type;
  -ms-transition: $property $time $type;
  -o-transition: $property $time $type;
}


@mixin lineAnimation {
  &:after {
    content: "";
    position: absolute;
    bottom: .26vw;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: currentColor;
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    @include animation4();
  }

  &:hover:after {
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@mixin hoverDots {
  &::after {
    position: absolute;
    display: block;
    border-radius: 100%;
    top: -12px;
    border: 5px solid currentColor;
    width: 0%;
    margin: auto;
    height: 0%;
    content: '';
    visibility: hidden;
    z-index: 3;
    @include borderRadius1();
    @include animation3();

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &:hover::after {
    @include occupyParent();
    bottom: -25%;
    width: 150%;
    border: .5px solid $primary-text-color;
    @include borderRadius100;
  }
}

@mixin logoAnimaiton {

  //TODO make a logo animation
  .logo-part {
    animation: moveIn 5s ease alternate infinite;
    -webkit-animation: moveIn 5s ease alternate infinite;

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }

    &:nth-child(4) {
      animation-delay: 0.3s;
    }

    &:nth-child(5) {
      animation-delay: 0.4s;
    }
  }

  @keyframes moveIn {
    90% {
      transform: scale(1.0);
    }

    100% {
      transform: scale(1.1);
    }
  }
}

@mixin hoverFillTop {

  &::after {
    content: '';
    position: absolute;
    @include occupyParent();
    opacity: 0;
    top: 0px;
    left: 0px;
    z-index: -1;
    @include animation1(opacity.3s);
    background: rgba($foreground-color, 1);
  }

  &:hover {
    &::after {
      @include animation1(opacity.3s);
      opacity: 1;
    }
  }
}

@mixin hoverFillBottom {

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0px;
    z-index: -1;
    background: $third-text-color;
    @include animation1();
  }

  &:hover {
    &::after {
      height: 100%;
      @include animation1();
    }
  }
}

@mixin hoverFillLeft {

  &::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: $third-text-color;
    @include animation1();
  }

  &:hover {
    &::after {
      width: 100%;
      @include animation1();
    }
  }
}

//#endregion animation mixins

@mixin shadow1 {
  box-shadow: 2px 1px 10px rgba($foreground-color, $alpha: .25), -2px -1px 10px rgba($foreground-color, $alpha: .25);
}

@mixin shadow2 {
  box-shadow: 2px 1px 10px rgba($primary-text-color, $alpha: .06),
    -2px -1px 10px rgba($primary-color, $alpha: .06);
}

@mixin cardStyles {
  position: relative;
  margin: auto;
  max-width: 450px;
  min-height: 250px;
  max-height: 700px;
  min-width: 250px;

  @include media-breakpoint-down(sm) {
    max-width: 100px;
    min-height: 200px;
    padding: $standard-margin * 1.5;
  }
}

//#region sass imports
@import '../../node_modules/bootstrap-scss/mixins';
@use "@material/ripple";
//#region hamburger menu styling and importation
$hamburger-layer-color: $primary-color;
$hamburger-layer-width: 3.5em; //WAS 60PX
$hamburger-layer-height: .4em; //WAS 15PX
$hamburger-layer-spacing: .7em; //WAS 8PX
$hamburger-types: (stand-r); //only imprt this one to reduce css bundle size
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
//#endregion hamburger menu styling and importation


//#endregion sass imports

// #region custom breakpoints
$grid-breakpoints: (s: 0,
  sm: 576px, //standard for phones
  md: 768px, //standard for ipad
  lg: 992px, //was 992
  xl: 1000px) !default;

//set container max values
$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 10000px) !default; //was 1140px
// #endregion custom breakpoints

//#region Remy function to convert pixels to rems
@function remy($value) {
  @return ($value / $browser-context) * 1rem;
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function em2px($target, $context: $base-font-size-em) {
  @if $target==0 {
    @return 0
  }

  @return ($target / 1em) * ($context / 1em) * 16+0px;
}

//#endregion Remy function to convert pixels to rems



// #region custom properties

//#region golden ratio font calculator https://www.modularscale.com/?1&em&1.2
// @mixin font-size($scale: 1, $font-size-base: 16) {
//   font-size: round(($font-size-base * ((exp(1.618, $scale) - exp(-0.618, $scale)) / 2.236)) + ($font-size-minor * ((exp(1.618, ($scale - 1)) - exp(-0.618, ($scale - 1))) / 2.236)));
// }
//#endregion golden ratio font calculator

//#region desktop element dimension properties
$panel-offset: 130px * 1.25;
$standard-margin: 1.5rem;
$section-margin: 23vh;
//#endregion desktop element dimension properties

//#region mobile element dimension properties
$mobile-panel-offset: 15%;
$mobile-standard-margin: 10px;
$mobile-section-margin: 12vh;
//#endregion mobile element dimension properties

$corner:12.5px;
$border:1px solid rgba(255, 255, 255, .1);
$border2:1px solid rgba(0, 0, 0, .1);

$small: 0.618em;
$h3: 1.0em;
$p: 1.618em;
$h2: 2.618em;
$h1: 4.236em;
$title: 6.854em;
$min-svg1: 2em;
$max-svg1: 35px;


@mixin borderRadius1 {
  -webkit-border-radius: $corner;
  -moz-border-radius: $corner;
  -ms-border-radius: $corner;
  -o-border-radius: $corner;
}

@mixin borderRadius2 {
  -webkit-border-radius: 0 0 $corner $corner;
  -moz-border-radius: 0 0 $corner $corner;
  -ms-border-radius: 0 0 $corner $corner;
  -o-border-radius: 0 0 $corner $corner;
}


@mixin borderRadius100 {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

@mixin testBounds {
  & * {
    border: .5px solid red;
  }
}

@mixin verticalText {
  text-orientation: sideways;
  -webkit-text-orientation: sideways;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}

@mixin rotate-90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

//common usage, used to fill the parent element container
@mixin occupyParent {
  width: 100%;
  height: 100%;
}

// #endregion custom properties

// #region custom browser styling
::selection {
  background: rgba($foreground-color, .1);
}

::-moz-selection {
  background: rgba($foreground-color, .1);
}

button {
  background: transparent;
  border: none;

  &:hover {
    fill: $primary-color;
    cursor: pointer;
  }
}

@mixin hideScrollbar {
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}

// #endregion custom browser styling

//#region react-transition-group stylings

//before (no active)
.right-transition-enter {
  left: 100vw;
}

//after (active)
.right-transition-enter-active {
  left: 0vw;
  @include transition1(left, .5s, ease); //persist final state
}

.right-transition-enter-done {
  left: 0vw;
}

//before (no active)
.left-transition-enter {
  left: -100vw;
}

//after (active)
.left-transition-enter-active {
  left: 0vw;
  @include transition1(left, .5s, ease); //persist final state
}

.left-transition-enter-done {
  left: 0vw;
}


//before (no active)
.bottom-transition-enter {
  bottom: 100vw;
}

//after (active)
.bottom-transition-enter-active {
  bottom: 0vw;
  @include transition1(bottom, .5s, ease); //persist final state
}

.bottom-transition-enter-done {
  bottom: 0vw;
}

//before (no active)
.fade-transition-enter {
  opacity: 0;
}

//after (active)
.fade-transition-enter-active {
  opacity: 1;
  @include transition1(opacity, .5s, ease);
}

//persist final state
.fade-transition-enter-done {
  opacity: 1;
}


//#endregion react-transition-group stylings

//#region layout styling
html,
body {
  color: $primary-text-color;
  margin: 0;
  letter-spacing: 90%;
  scroll-behavior: smooth;
  font-size: .8em;

  font-family: brown-regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background: $foreground-color;
  overflow-x: hidden;

  //#region media queries
  //phone
  @include media-breakpoint-down(sm) {
    font-size: .5rem;
  }

  //tablet
  @include media-breakpoint-down(md) {
    font-size: .9rem;
  }

  //desktop
  @include media-breakpoint-down(xl) {
    font-size: 1rem;
  }

  //#endregion media queries
}

* {
  margin-top: 0;
  box-sizing: border-box;
}

p {
  font-size: $p;
}

input {
  border: $border2;
  @include borderRadius1();
  padding: $standard-margin * .25;
}

h3 {
  font-size: $h3;
  font-weight: normal;
}

h2 {
  font-size: $h2;
}

h1 {
  font-size: $h1;
}

.button {
  padding: $standard-margin * .5;
  display: inline-block;
  background: #fff;
  border: 1px solid #d3d6e7;
  border-radius: 9px;
  text-decoration: none;
  color: #868892;
  // font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;

  &.-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $secondary-color;

    &:hover {
      background-color: $foreground-color;
      color: #fff;
      text-decoration: none;
    }
  }

  &:hover {
    background-color: #d3d6e7;
    color: #00062b;
  }
}

audio {
  @include borderRadius1();
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


//site content all wraps in this
.site-wrapper {
  overflow: hidden;
  // font-size: $h3;
  position: absolute;
  left: 0px;
  width: 100%;
}

//#endregion layout styling

//#region blog styling
.click-active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  @include animation1(transform);
  border-style: outset;
  border: $border;
  @include shadow2();
  // transform: scale(1.05);
  // -webkit-transform: scale(1.05);
  // -moz-transform: scale(1.05);
  // -ms-transform: scale(1.05);
  // -o-transform: scale(1.05);

  & .blog__post {
    @include shadow1();
  }
}

.post {
  padding: $standard-margin;
  padding-left: $panel-offset * 1.15;

  >.blog-post-content {
    @include borderRadius1();
    border: $border;
    padding: 2%;
    max-width: 1000px; //was 768px
    margin: 0 auto;
  }

  >.blog-post-content *:last-child,
  >*:last-child {
    margin-bottom: 0;
  }

  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;

    font-size: 2rem;
  }

  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }

  @include media-breakpoint-down(md) {
    padding-left: $panel-offset/1.5 * 1.25;
  }

  @include media-breakpoint-down(sm) {
    padding-left: $standard-margin;
  }

  @include media-breakpoint-up(md) {
    padding-left: $panel-offset * 1.2 5;
  }

}

.post-thumbnail {
  text-align: center;
  min-height: 380px;
  //background-image: url('/assets/circles-light.png');
  background-color: #493b8a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  margin-bottom: 36px;
  color: white;
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;

  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    @include occupyParent();
    z-index: 1;
  }

  >* {
    position: relative;
    z-index: 2;
  }

  .post-meta {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
  }
}

.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  height: 5%;
}

.card {
  display: grid;
  background: white;
  @include borderRadius1();
  @include shadow2();
  border: $border;
  overflow: hidden;
  min-width: 300px;


  &:hover .post-link {
    color: $primary-color;
  }

  >a img {
    display: block;
  }

  >header {
    padding: 24px;
  }

  >h2:first-child {
    margin: 0 0 0.5rem 0;
  }

  .post-title {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  .post-meta {
    font-weight: 100;
    margin-bottom: 0;
  }

  .post-link {
    color: #333;
    text-decoration: none;
  }
}

.post-meta {
  font-size: 0.8rem;
  color: #666;
}

.site-footer {
  text-align: center;
  // margin: 90px 0 16px;
  padding: $standard-margin * 2;
  color: #666;

  a {
    font-weight: 700;
  }
}

.form-container {
  background-color: #f7f8fe;
  padding: 32px;
  border-radius: 9px;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid #d3d6e7;
    border-radius: 6px;

    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
  }

  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}

.two-grids {
  @include borderRadius1();
  border: $border;
  position: relative;
  width: $panel-offset * 10.7;
  display: grid;
  padding: $panel-offset $standard-margin;
  left: $panel-offset;
  grid-gap: 32px;
  color: $foreground-color;

  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}

.go-back {
  opacity: 1;
  flex-grow: 5;
  top: 0px;
  fill: $foreground-color;

  & svg {
    justify-content: flex-start;
  }

  z-index: 0;
}

//#endregion blog styling


//#region content styling
//#region landing page content
$hero-header: 100vh;

#canvas-cta {

  position: absolute;
  right: $standard-margin * 2.5;
  top: 60vh;
  color: $third-text-color;

  display: none;
  visibility: hidden;
}

//TODO: move site header out of hero header
.hero-header {
  height: $hero-header;
  padding-top: $standard-margin * 2.5;


  // @include testBounds();

  & .primary-content {
    // @include testBounds();
    display: flex;
    margin: auto;
    max-width: 60rem;
    flex-direction: column;
    justify-content: flex-start;
    color: $primary-text-color;
    font-weight: 300;
    top: 0px;
    text-align: left;
    justify-content: flex-start;

    & a {
      text-align: center;
      max-width: 12rem;

      @include media-breakpoint-down(sm) {
        margin-top: $mobile-standard-margin * 2;
        margin-left: 0;
      }
    }

    & .typewriter {
      width: 400px;
      margin-left: 5px;
      margin-top: $standard-margin * .5;
      margin-bottom: $standard-margin;
      font-family: 'brown-light';
      font-weight: 100;
      font-size: $h3 * 1.25;
      text-align: left;
      line-height: 110%;
      position: relative;

      @include media-breakpoint-down(sm) {
        font-size: $small;
        text-align: left;
        left: 0px;
        display: none;
      }

      & span {
        border-right: .08em solid;
        padding-right: .15em;
        animation: caret 1s steps(1) infinite;
        -webkit-animation: caret 1s steps(1) infinite;
      }

      @keyframes caret {
        50% {
          border-color: transparent;
        }
      }
    }

    & .headline {
      top: 50%;
      font-size: $title;
      font-family: 'brown-bold';
      line-height: 100%;

      @include media-breakpoint-down(sm) {
        font-size: $h1;
        top: 0px;
        text-align: left;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-left: $mobile-standard-margin *3;
  }
}


section {
  position: relative;
  margin: auto;
  border: $border;
  min-height: 50vh;
  padding-right: $panel-offset * .5 * 1.25;
  padding-left: $panel-offset * 1.3 * 1.15;

  @include media-breakpoint-down(lg) {
    padding-right: 0; //right panel dissapears
    padding-left: $panel-offset * 1.25 * 1.15;
  }

  @include media-breakpoint-down(md) {
    padding-right: 0; //right panel dissapears
    padding-left: $panel-offset * 1.40;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    left: 0px;
    padding: $mobile-section-margin * .25;
  }

  //#region landing page content
  & a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  & .section__header {
    text-transform: capitalize;
    position: relative;

    & h1 {
      text-align: center;
      margin: auto;
      top: 0px;
    }
  }

  //allows overflowing on mobile view
  & .section__wrapper {
    // @include testBounds();
    position: relative;
    margin: 80px 0;
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      @include borderRadius1();
      border: 1px solid $primary-color;
      width: 100%;
    }

    & .section__grid {
      position: relative;
      display: grid;
      margin: auto;
      color: $secondary-color;
      grid-template-columns: 1fr 1fr;
      gap: 70px;

      //#region breakpoints
      @include media-breakpoint-down(md) {
        @include hideScrollbar();
        margin: 0 -$standard-margin * 3;
        gap: 200px;
      }

      @include media-breakpoint-down(lg) {
        padding: 2%;
        grid-gap: 10px;
        overflow: scroll;
        overflow-y: hidden;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      }

      @include media-breakpoint-down(sm) {
        margin: auto;
        width: 100%;
        padding: $mobile-standard-margin 0;
        min-height: auto;
      }

      //#endregion breakpoints

      //#region mixins reused with different card types, should remain consistent
      @mixin title {

        & .title {
          width: 80%;
          margin-bottom: $standard-margin;
          line-height: 1em;
          font-weight: bold;

          //drop margin size on mobile
          @include media-breakpoint-down(sm) {
            margin-bottom: $mobile-standard-margin;
          }
        }
      }

      @mixin description {
        & .description {
          margin-bottom: $standard-margin;
          font-family: 'brown';
          font-weight: 300;

          //drop margin size on mobile
          @include media-breakpoint-down(sm) {
            margin-bottom: $mobile-standard-margin;
            width: 95%;
          }
        }
      }

      @mixin preview {
        & .preview {
          position: absolute;
          top: -5%;
          left: -5%;
          @include occupyParent();
          @include borderRadius1();
          @include animation1();
          @include shadow1();
          z-index: -2;

          & video {
            @include occupyParent();
            @include borderRadius1();
            opacity: .4;
            max-width: 100%;
            background-size: contain;
            object-fit: cover;
          }

          & .sketchfab-embed-wrapper {
            position: relative;
            height: 100%;

            & iframe {
              position: absolute;
              left: 10%;
              top: 5%;
              width: 84.5%;
              height: 70%;
            }
          }

        }
      }

      @mixin cta {
        & .cta {
          &::before {
            content: '';
            position: absolute;
            z-index: -2;
            width: 105%;
            left: -7%;
            top: -2.5%;
            height: 105%;
            opacity: .1;
            border: 1px solid black;
            @include shadow1();
            @include animation3();
            @include borderRadius100();
          }

          &::after {
            content: '';
            position: absolute;
            z-index: -1;
            @include occupyParent();
            @include animation3();
            @include borderRadius100();
            background: $primary-text-color
          }

          &:hover {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            @include animation3();

            &::before {}
          }

          cursor: pointer;
          position: absolute;
          bottom: -10%;
          left: -10%;
          color: $foreground-color;
          width: 100px;
          height: 100px;
          display: flex;
          flex-direction: column;
          padding: 5% 0;
          justify-content: center;
          @include animation3();
          @include animation3();
          @include borderRadius100();
          z-index: 3;
          // @include animation3();

          & p {
            line-height: 1em;
            font-size: $h3;
            margin: auto;
          }

          & svg {
            position: relative;
            @include occupyParent();
            fill: $foreground-color;
          }

          //mobile
          @include media-breakpoint-down(sm) {
            display: none;
            padding: 0% 10%;
            @include borderRadius1();
          }
        }
      }

      //#endregion mixins reused with different card types, should remain consistent

      //standard grid of cards does not go into into right panel
      & .section__grid__card {

        @include media-breakpoint-down(md) {
          margin-right: 25px;
        }

        & .card {
          z-index: 2;
          background: white;
          padding: $standard-margin;

          //mobile
          @include occupyParent();
          @include description();
          @include title();
          @include animation3();
          @include cardStyles();

          & img {
            @include borderRadius1();
            object-fit: cover;
            max-height: 100%;
            @include occupyParent();

            &:hover {
              @include grayscale();
            }
          }

          @include media-breakpoint-down(md) {
            min-width: 350px;
          }

          & input {
            text-align: center;
          }

          & #contact-button {
            padding: $standard-margin * .25;
            border: $border2;
            background: $primary-color;
            color: $foreground-color;
            text-align: center;
            font-size: $h3;
            max-width: 155px;
            font-family: 'brown-regular';
            font-weight: 100;
            @include borderRadius1();
          }

          & ul {
            @include borderRadius1();
            display: flex;
            background: #E7E6E8;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: $h3;
            font-family: 'brown';
            font-weight: 300;
            padding: $standard-margin;


            & li {
              list-style-type: none;
              margin: 0 $standard-margin * .25;
              margin-top: $standard-margin * .25;
              padding: $standard-margin * .25;
              background: #D1CFD3;
              @include animation3();
              @include borderRadius1();
            }
          }

          &:hover {
            & ul {
              color: $foreground-color;

              & li {
                background: white;
                @include borderRadius1();
              }
            }

            @include animation3();
            background: $foreground-color;
            color: $primary-text-color;
          }
        }
      }

      & .section__grid__projects {
        z-index: 2;

        @include media-breakpoint-down(md) {
          margin-right: 50px;
        }

        //used on projects section (has hover effects)
        & .projects__card {
          // min-width: 100%;
          color: $secondary-color;
          background-color: $primary-text-color;
          padding: $standard-margin * 2;
          @include shadow2();

          right: 0px;
          @include borderRadius1();

          @include animation1();
          @include occupyParent();

          @include title();
          @include description();
          @include cta(); //offsets by 10%

          @include cardStyles();
          //underneath all other content, then comes up on hover
          @include preview(); //absolute, offset by 5%
          @include shadow2();


          //#region project card hover effect
          &:hover {
            @include animation1();
            color: transparent;

            & .catagory {
              opacity: 0%;
              @include animation1(opacity);
            }

            & .preview {
              @include animation1();
              z-index: 1;
              left: 0%;
              top: 0%;

              & video {
                opacity: 1;
              }
            }
          }

          //#endregion hover effect

          & .catagory {
            top: 0px;
            height: 100%;
            // display: none;
            position: absolute;
            font-size: $h3;
            text-align: left;
            font-family: 'brown-light';
            padding: 5%;
            color: $primary-text-color;
            @include shadow2();
            background: #6bb7a8;
            border: $border;
            width: 15%;
            right: -12%;
            z-index: 3;
            @include verticalText();
            @include animation1();
            border-radius: 0 $corner $corner 0;
            -webkit-border-radius: 0 $corner $corner 0;
            -moz-border-radius: 0 $corner $corner 0;
            -ms-border-radius: 0 $corner $corner 0;
            -o-border-radius: 0 $corner $corner 0;

            & h3 {
              margin: 50% auto;
            }
          }

        }

      }
    }
  }

  //#endregion landing page content


  //#region blog content
  .blog__header {
    z-index: 6;
    margin-bottom: $standard-margin;
    margin-top: $standard-margin;
    display: flex;
    flex-direction: row;
    row-gap: $standard-margin;
    position: absolute;
    color: $foreground-color;
    font-size: $h1;
    pointer-events: none;
  }

  .blog__wrapper {
    display: flex;
    width: 80vw;
    z-index: 1;
    margin-left: -$panel-offset * .25;
    margin-bottom: $standard-margin * 1.5;
    // margin-bottom: $standard-margin;
    overflow-x: scroll;
    // overflow-y: hidden;
    justify-content: start;

    // flex-wrap: wrap; tosdo: enable by button
    @include hideScrollbar();
    @include animation1(transform);

    @include media-breakpoint-down(md) {
      margin-left: 0px;
      @include occupyParent();
    }

    .blog__post {
      @include cardStyles();
      z-index: 4;
      border: $border2;
      color: inherit;
      margin: $standard-margin 0;
      margin-right: $standard-margin * 2;
      margin-left: $standard-margin * 2;
      margin-top: $standard-margin * 6.2;
      position: relative;
      // pointer-events: visible;
      @include shadow1();
      @include borderRadius1();
      @include animation1(margin);

      &:hover {
        margin-bottom: $standard-margin;
        @include animation1(margin);

        @include shadow1();
      }

      img {
        object-fit: cover;
        @include occupyParent();
        @include animation1();
        @include borderRadius1();


        &:hover {
          @include animation1();
          @include shadow1();
        }
      }

      .post__title {
        left: 0px;
        position: absolute;
        background: $foreground-color;
        bottom: 0px;
        width: 100%;
        font-size: $p;
        color: $primary-text-color;
        padding: $standard-margin * .5;
        border: $border;
        @include borderRadius2();
      }

      .post__meta {
        // bottom: -$standard-margin;
        border-style: inset;
        display: none;
        position: absolute;
      }


    }
  }

  //#endregion blog content

}

//#region navigation styling
#canvas {
  position: absolute;
  //same size as hero header
  z-index: -1;
  padding-left: $panel-offset * .5;
  overflow: hidden;
  width: 100vw;
  height: $hero-header;

  @include media-breakpoint-down(md) {
    padding-left: 0px;
  }

  & canvas {
    width: 100vw;
    height: $hero-header;
    // @include occupyParent();
  }

  // display: none;
}

.panel {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  top: 0px;
  width: $panel-offset;
  color: $third-text-color;
  fill: $primary-color;
  z-index: 10;

  &.left {
    left: 0px;
    @include animation1();
    background: $primary-color;
    border-right: 1px solid #211e2d;

    @include media-breakpoint-down(md) {
      width: $panel-offset/1.25;
    }

    @include media-breakpoint-down(sm) {
      visibility: hidden;
      display: none;
    }

    & .branding {
      padding: 10% $standard-margin * .65;
      fill: $primary-color;
      width: 100%;
      top: -1px;
      z-index: 100;
      position: relative;
      flex-grow: 0;
      background: #6bb7a8;

      & .logo-container {
        position: relative;
        width: 100px;
        margin: auto;
        margin-bottom: $standard-margin;

        & .logo {
          position: absolute;
          text-align: center;
          @include occupyParent();

          & svg {
            position: relative;
            width: 50px;
            height: 50px;
            top: 20px;
            left: 0px;
          }
        }

        & #progress-indicator {
          //100px width and height
          background: $foreground-color;
          margin: auto;
          left: 0px;
          z-index: -1;
          position: relative;
          display: block;
          @include borderRadius100();
          border: $border;

          // width: max-content
          & circle {
            border: $border;
            stroke: $primary-color;
            stroke-width: 5.5px;
            top: -5px;
            transform-origin: 50% 51%;
            @include rotate-90();
          }
        }
      }

      .site-header {
        z-index: 3;
        text-align: center;
        left: 0px;
        position: relative;
        bottom: 0px;
        align-items: center;
        margin: 0 auto;
        margin-top: 30%;
        max-width: 100%;
        padding: $standard-margin * .5;
        flex-grow: 3;

        @include borderRadius1();

        .navigation {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          font-size: $h3 * .85;
          font-weight: bolder;
          text-transform: capitalize;
          @include occupyParent();

          a {
            color: $primary-text-color;
            text-decoration: none;
            margin-top: $standard-margin * .5;
            padding: $standard-margin * .25 0;
            border: $border2;
            @include borderRadius1();

            &[aria-current] {
              background: $foreground-color;
              color: $primary-text-color;
            }

            &:hover {
              background: $foreground-color;
            }

          }

        }

        @include media-breakpoint-down(sm) {
          display: none;
          visibility: hidden;
        }
      }

    }
  }

  //moves to left side on breakpoint
  & .right {
    right: 0px;
    width: $panel-offset / 1.5;
    z-index: -1;
    pointer-events: none;
    padding: $standard-margin;


    & * {
      pointer-events: visible;
    }

    @include media-breakpoint-down(md) {
      display: none;
      visibility: hidden;
    }
  }
}

//#region main navbar (ellipse bar)
//list to easily add items to
$ellipses-spacing: 1.5rem;
$ellipses-slider: (slides: 5,
  transition-speed: 1.5s);

//sas loops to handle carousel interaction
//style active
@for $i from 0 through map_get($ellipses-slider, slides) {
  #ellipses-page__#{$i}:checked~#slider label[for="ellipses-page__#{$i}"] {

    @include animation3();


    background: rgba($foreground-color, .25);

    color: $primary-text-color;

    & svg {
      fill: currentColor;
    }
  }
}

.ellipses-bar {
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;
  // height: 10%;
  flex-grow: 4;

  // @include testBounds();
  //desktop navigation bar
  color: $secondary-text-color;

  // hide input radio fields
  & input[name="ellipses"] {
    display: none;
  }


  #slider {
    // position: relative;
    display: flex;
    z-index: 101;
    justify-content: flex-start;
    flex-direction: column;
    padding: $standard-margin * .5;
    width: 100%;
    // border: $border;
    @include borderRadius1();

    @include media-breakpoint-down(md) {
      // border: none;
    }


    & label {
      border: $border2;
      padding: $standard-margin * .25;
      margin-top: $standard-margin * .5;
      @include shadow2();
      @include borderRadius1();
      text-align: center;
      display: flex;
      color: $foreground-color;
      font-weight: bolder;
      // flex-wrap: wrap;
      flex-direction: row;
      cursor: pointer;

      & .slider-label {
        font-size: $small;
        display: inline-block;
        width: 50%;
        // margin-top: -5px;
        margin: auto;
        // margin-bottom: 5px;
        width: 100%;
        text-align: center;
        order: 3;
      }

      & .slider-number {
        display: none;
      }

      & svg {
        position: relative;
        margin: auto;
        @include occupyParent();
        max-width: $max-svg1;
        min-width: $min-svg1;
        fill: currentColor;
        order: 2;
        @include animation3();
      }

      &:hover {
        color: $primary-text-color;
        fill: $primary-text-color;
        background: rgba($foreground-color, .25);

        & svg {
          @include animation3();
        }
      }


    }


  }


  //tablet navigation bar
  @include media-breakpoint-down(md) {
    #slider {
      font-size: 1.5em;

      & label {
        flex-direction: column;

        & svg {
          // max-width: $max-svg1;
          min-width: $max-svg1;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    visibility: hidden;
  }

}

//#region social media links
#social-media-bar {
  @include borderRadius1();
  width: 100%;
  display: flex;
  fill: inherit;
  z-index: 1;
  color: inherit;
  justify-content: space-evenly;
  flex-direction: row;

  & a {
    margin: auto;
    position: relative;
    justify-content: center;
    fill: inherit;
    color: $primary-color;
    cursor: pointer;
    @include occupyParent();

    & svg {
      max-width: $max-svg1;
      max-width: $min-svg1;
    }

    &:hover svg {
      fill: $primary-text-color;
    }
  }

  @include media-breakpoint-between(sm, lg) {
    // display: none;
  }

  @include media-breakpoint-down(sm) {
    // display: none;
  }
}

//#endregion social media links

.site-title a {
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  left: -100%;
  width: 150%;
  text-transform: uppercase;
  text-align: left;
  fill: inherit;
  z-index: 1;
}


//#endregion nav bar
.hamburger {
  z-index: 1001;
  position: fixed;
  top: $mobile-standard-margin * 1.5;
  right: 0%;
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
    margin: auto;
  }
}


.mobile__menu__overlay {
  z-index: 1000;
  position: fixed;
  top: 0px;
  background-size: cover;
  @include occupyParent();
  padding: 30% 0;
  background-image: url('https://i.imgur.com/jNPlJI5.png');
  background-color: rgba($foreground-color, .9);
  display: flex;
  left: 0px;
  justify-content: space-evenly;
  flex-direction: column;

  & span {
    font-size: $h1;
    display: flex;
    justify-content: center;


    & a {
      color: $primary-text-color;
    }

    margin-bottom: $mobile-standard-margin * 2;
  }

  opacity: 1;
  display: block;
}

//#region loading screen
.loading {
  position: absolute;
  background: $foreground-color;
  width: 100vw;
  height: 100vh;
  z-index: 1000000;
  fill: white;
  display: flex;
  flex-direction: row;


  & .loading__content {
    position: relative;
    margin: auto;
    width: 150px;
    height: 150px;

    & circle {
      position: absolute;
      width: 150px;
      height: 150px;
      opacity: 0;
      transform: rotate(225deg);
      animation-iteration-count: infinite;
      animation-name: orbit;
      animation-duration: 5.5s;

      &:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background: #fff;
        /* Pick a color */
      }

      &:nth-child(2) {
        animation-delay: 240ms;
      }

      &:nth-child(3) {
        animation-delay: 480ms;
      }

      &:nth-child(4) {
        animation-delay: 720ms;
      }

      &:nth-child(5) {
        animation-delay: 960ms;
      }
    }

    @keyframes orbit {
      0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
      }

      7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
      }

      30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
      }

      39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
      }

      70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
      }

      75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
      }

      76% {
        transform: rotate(945deg);
        opacity: 0;
      }

      100% {
        transform: rotate(945deg);
        opacity: 0;
      }
    }

    & p {
      position: relative;
      text-align: center;
      top: 200px;
      left: 5px;
      font-family: 'brown';
      font-weight: 300;
    }

    & .loading-logo {
      position: absolute;
      margin: auto;
      top: 30px;
      left: 40px;

      & svg {
        width: 85px;
        height: 85px;
        margin: auto;
      }
    }

  }
}

//#endregion loading rings and content
//#endregion navigation styling


//#endregion